* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
.moving-text {
  background-color: #000000a3;
  color: white;
  font-size: 1.3rem;
  white-space: nowrap;
  position: absolute;
  border-bottom: 3px solid white;
}
.squad {
  text-align: left;
  padding: 30px 3%;
  border-bottom: 3px solid white;
  background: linear-gradient(
    90deg,
    rgba(127, 63, 231, 1) 0%,
    rgba(195, 25, 157, 1) 52%,
    rgba(39, 103, 203, 1) 95%
  );
}
/*lagu Settings*/
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-start-playback-button {
  background-color: orange;  /* Warna pencetan play */
  border-radius: 30px;
}
audio {
  display: flex;
  width: 100%;
  max-width: 250px;
  margin-top: -80px;
  margin-left: 30%;
}
.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  text-align: left;
  padding: 30px 1%;
}

header {
  position: absolute;
  left: 65%;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}
body {
  width: 100%;
  min-height: 100vh;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
  background-repeat: no-repeat;
}
body::after {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.navlist {
  display: flex;
  padding: 0 7%;
}
.navlist a {
  color: white;
  text-align: right;
  margin-left: 40px;
  font-size: 15px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}
.navlist a:hover {
  border-bottom: 2px solid white;
}
#menu-icon {
  color: white;
  font-size: 300px;
  z-index: 1001;
  cursor: pointer;
  display: none;
}
.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.hero-text h2 {
  color: white;
  margin-top: 20px;
}
.hero-text h3 {
  color: white;
  padding-top: 140px;
  font-weight: 800;
}
.hero-text p {
  font-size: 1.1rem;
  color: white;
  text-align: left;
  margin-top: 10px;
  font-weight: 400;
}
.hero-text button {
  font-family: Poppins;
  cursor: pointer;
  display: flex;
  color: white;
  font-weight: 500;
  font-size: 13px;
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  text-transform: uppercase;
  margin-top: 12%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 10px;
  transition: all 0.55s ease;
}
.hero-text button:hover {
  background: #000000a3;
  border: 2px solid white;
  transform: translateX(5px);
}
.hero-text {
  padding: 45px 25px;
}
#hero-img img {
  display: flex;
  width: 55%;
  height: auto;
  margin-left: 50%;
  margin-top: -35%;
}
.table-container {
  display: flex;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(30, 26, 91, 1) 0%,
    rgba(177, 15, 165, 1) 48%,
    rgba(5, 164, 196, 1) 100%
  );
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  width: 85%;
  height: 300px;
  justify-content: center;
  border: 1px solid white;
  transition: opacity 0.5s ease;
}
table {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.daftar-2 {
  margin-top: 50px;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.daftar-2 h3 {
  width: 150px;
  background: linear-gradient(
    86deg,
    rgba(255, 98, 0, 1) 0%,
    rgba(183, 193, 21, 1) 73%
  );
  border-radius: 20px;
  text-align: center;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
}
#siswa div {
  margin-top: 40px;
  width: 250px;
  height: auto;
  background-color: rgb(239, 139, 8);
  border: 2px solid black;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.jadwal_piket {
  margin-top: 50px;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.jadwal_piket h3 {
  width: 200px;
  background: linear-gradient(
    86deg,
    rgba(189, 28, 194, 1) 0%,
    rgba(46, 47, 176, 1) 49%,
    rgba(54, 177, 177, 1) 100%
  );
  border-radius: 20px;
  text-align: center;
  border: 2px solid white;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
}
#piket div {
  margin-top: 40px;
  width: 250px;
  height: auto;
  background-color: #1c89c2;
  border: 2px solid rgb(255, 255, 255);
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
#videoku {
  color: white;
  margin-top: 200px;
  background: linear-gradient(
    320deg,
    rgba(210, 21, 11, 1) 0%,
    rgba(18, 38, 133, 1) 47%,
    rgba(210, 30, 104, 1) 100%
  );
  width: 95%;
  border: 1px solid white;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.lebaran div {
  display: inline-block;
  padding: 0px 4px;
}
.lebaran h3 {
  padding-top: 5px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.lebaran div video {
  width: 700px;
  height: 400px;
  border: 2px solid rgb(255, 255, 255);
  display: inline-block;
  border-radius: 10px;
}
#foto {
  color: white;
  margin-top: 200px;
  background: linear-gradient(
    135deg,
    rgba(214, 0, 217, 1) 0%,
    rgba(235, 59, 16, 1) 47%,
    rgba(96, 14, 212, 1) 100%
  );
  border: 1px solid white;
  width: 95%;
  height: auto;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.foto-lebaran div {
  display: inline-block;
  padding: 0px 4px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.foto-lebaran div img {
  width: 700px;
  height: 400px;
  border: 2px solid rgb(255, 255, 255);
  display: inline-block;
  border-radius: 10px;
}
footer {
  background-color: rgb(31, 30, 30);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  color: white;
}
footer .social {
  padding: 1rem 0;
}
footer .social a {
  color: white;
  padding: 5px;
}
footer .social a:hover {
  color: rgb(114, 14, 236);
}
footer .credit a {
  color: orange;
}

/*---------------------------------------------------------------
---------------*/

/* Laptop*/
@media screen and (max-width: 1250px) {
  html {
    font-size: 70%;
    overflow-x: hidden;
  }
  audio {
    display: flex;
    width: 100%;
    max-width: 230px;
    margin-top: -80px;
    margin-left: 30%;
  }
  .navlist {
    position: absolute;
    padding: 0 10px;
    left: 3%;
    margin-top: 10px;
  }
  #hero-img img {
    margin-left: 45%;
    margin-top: -48%;
    width: 65%;
  }
  #hero-img img {
    display: flex;
    width: 65%;
    height: auto;
    margin-left: 45%;
    margin-top: -485px;
  }
  .daftar-2 {
    margin-top: 150px;
  }
  .table-container {
    margin-top: 150px;
  }
  .navlist {
    margin-top: 20px;
  }
  .hero-text button {
    font-size: 12px;
    padding: 15px 8px;
  }
  #siswa div {
    padding: 5px;
    width:  190px;
    height: auto;
  }
  #piket div {
    padding: 5px;
    width:  190px;
    height: auto;
  }
  .lebaran div {
    padding: 0px 25px;
  }
  .lebaran div video {
    width: 400px;
    height: auto;
  }
  .foto-lebaran div {
    padding: 0px 20px;
  }
  .foto-lebaran div img {
    width: 400px;
    height: auto;
  }
}


/* Table */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 65.5%;
    overflow-x: hidden;
  }
  audio {
    display: flex;
    width: 100%;
    max-width: 170px;
    margin-top: -75px;
    margin-left: 35%;
  }
  #menu-icon {
    display: block;
    margin-top: -310px;
    margin-left: 160px;
  }
  body {
    min-height: 100vh;
    background-image: linear-gradient(
      90.1deg,
      rgba(175, 237, 255, 1) 10.9%,
      rgba(255, 163, 252, 1) 63.8%
    );
    background-size: 150%;
    animation: animate-bg 10s infinite alternate;
  }
  @keyframes animate-bg {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  .squad {
    background-image: radial-gradient(
      circle 993px at 0.5% 98.5%,
      rgba(0, 239, 247, 1) 0%,
      rgba(0, 122, 147, 1) 46.7%,
      rgba(0, 29, 72, 1) 100.2%
    );
  }
  .hero-text {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  }
  .navlist {
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 52, 52);
    height: 18vh;
    width: 140px;
    padding:15px 5px;
    align-items: center;
    top: 43.8%;
    margin-left: 400px;
    transition: all 0.5s ease;
    position: absolute;
  }
  .navlist a {
    display: block;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }
  .navlist.open {
    margin-left: 110px;
  }
  #hero-img img {
    display: flex;
    width: 65%;
    height: auto;
    margin-left: 45%;
    margin-top: -485px;
  }
  .daftar-2 {
    margin-top: 150px;
  }
  .hero-text button {
    font-size: 10px;
    padding: 15px 10px;
    margin-top: 160px;
  }
  .table-container {
    width: 80%;
    height: 300px;
    margin-top: 200px;
  }
  table {
    width: 100%;
    height: 100%;
  }
  .daftar-2 {
    margin-top: 195px;
  }
  #siswa div {
    border: 2px solid white;
    padding: 10px;
    margin: 5px 8px;
    width: 250px;
    height: auto;
  }
  .daftar-2 h3 {
    margin-bottom: 10px;
  }
  #piket div {
    padding: 10px;
    margin: 3px 8px;
    width: 250px;
    height: auto;
  }
  .jadwal_piket h3 {
    margin-bottom: 10px;
  }
  #videoku {
    width: 95%;
    height: auto;
    background: linear-gradient(
      90deg,
      rgba(237, 167, 232, 1) 0%,
      rgba(183, 48, 209, 1) 50%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  .lebaran div video {
    width: 600px;
    height: auto;
    display: inline-block;
  }
  .lebaran h3 {
    font-size: 18px;
  }
  #foto {
    width: 95%;
    height: auto;
    background: linear-gradient(
      124deg,
      rgba(237, 167, 232, 1) 0%,
      rgba(48, 192, 209, 1) 50%,
      rgba(175, 0, 255, 1) 100%
    );
  }
  .foto-lebaran div img {
    width: 600px;
    height: auto;
    display: inline-block;
  }
  .foto-lebaran h3 {
    font-size: 18px;
  }
}


/* Mobile Phone*/
@media screen and (max-width: 767px) {
  html {
    font-size: 65.5%;
    overflow-x: hidden;
  }
  audio {
    display: flex;
    width: 100%;
    max-width: 120px;
    margin-top: -75px;
    margin-left: 45%;
  }
  #menu-icon {
    display: block;
    margin-top: -310px;
    margin-left: 65px;
  }
  body {
    min-height: 100vh;
    background-image: linear-gradient(
      100.5deg,
      rgba(148, 146, 236, 1) 17.7%,
      rgba(245, 194, 194, 1) 76.1%
    );
    background-size: 200%;
    animation: animate-bg 5s infinite alternate;
  }
  @keyframes animate-bg {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  .squad {
    background-image: linear-gradient(
      109.6deg,
      rgba(254, 87, 98, 1) 11.2%,
      rgba(255, 107, 161, 1) 99.1%
    );
  }
  .hero-text {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  }
  .navlist {
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 52, 52);
    height: 15vh;
    width: 110px;
    padding:15px 5px;
    align-items: center;
    top: 43.8%;
    margin-left: 300px;
    transition: all 0.5s ease;
    position: absolute;
  }
  .navlist a {
    display: block;
    padding:  6px;
    margin-top: -6px; 
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
  }
  .navlist.open {
    margin-left: 26px;
  }
  #hero-img img {
    display: flex;
    width: 90%;
    height: auto;
    margin-left: 90px;
    margin-top: -440px;
  }
  .hero-text button {
    font-size: 9px;
    padding: 15px 10px;
    margin-top: 90px;
  }
  .table-container {
    width: 80%;
    height: 200px;
    margin-top: 250px;
  }
  table {
    width: 100%;
    height: 100%;
  }
  .daftar-2 {
    margin-top: 250px;
  }
  #siswa div {
    border: 2px solid white;
    padding: 10px;
    margin: 5px 5px;
    width: 230px;
    height: auto;
  }
  .daftar-2 h3 {
    margin-bottom: 10px;
  }
  #piket div {
    padding: 10px;
    margin: 5px 5px;
    width: 230px;
    height: auto;
  }
  .jadwal_piket h3 {
    margin-bottom: 10px;
  }
  #videoku {
    width: 90%;
    height: auto;
    background: linear-gradient(
      122deg,
      rgba(237, 167, 232, 1) 0%,
      rgba(186, 205, 229, 1) 50%,
      rgba(101, 108, 224, 1) 100%
    );
  }
  .lebaran div video {
    width: 275px;
    height: auto;
    display: inline-block;
  }
  .lebaran h3 {
    font-size: 15px;
  }
  #foto {
    width: 90%;
    height: auto;
    background: linear-gradient(
      122deg,
      rgba(118, 191, 222, 1) 0%,
      rgba(227, 118, 226, 1) 50%,
      rgba(47, 44, 231, 1) 100%
    );
  }
  .foto-lebaran div img {
    width: 275px;
    height: auto;
    display: inline-block;
  }
  .foto-lebaran h3 {
    font-size: 15px;
  }
}
